<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lunodzo.crowdfund">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/rsz_crowd_white"
        android:label="@string/app_name"
        android:logo="@drawable/rsz_crowd_white"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/login"></activity>

        <activity
            android:name=".ProjectsActivity"
            android:label="@string/projects"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:parentActivityName=".ProjectsActivity"
            android:name=".ProjectDashboardActivity"
            android:label="Project Details"></activity>
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".RegisterUSerActivity"
            android:label="@string/register" />
        <activity
            android:parentActivityName=".ProjectsActivity"
            android:name=".RegisterProjectActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>